<nav class="sidebar">
  <ul>
    <li><a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Dashboard</a></li>
    <li><a routerLink="/dashboard/videogames/list" routerLinkActive="active">Listar Videojuegos</a></li>
    <li><a routerLink="/dashboard/videogames/add" routerLinkActive="active">Agregar Videojuego</a></li>
    <li><a routerLink="/dashboard/reviews/create" routerLinkActive="active">Crear Reseña</a></li>
    <li><a routerLink="/dashboard/reviews/read" routerLinkActive="active">Ver Reseñas</a></li>
  </ul>
</nav>
