/* Headings blancos excepto h3 */
h1, h2, h4, h5, h6 {
  color: #fff !important;
}
h3 {
  color: #222 !important;
}

:root {
  --color-rosa: #ff4081;
  --color-rosa-claro: #ff80ab;
  --color-morado: #a21db9;
  --color-morado-oscuro: #5d0ba0;
  --color-negro: #222;
  --color-gris: #ccc;
  --color-blanco: #fff;
  --color-gris-fondo: #fafafa;
}


body {
  min-height: 100vh;
  background: url('assets/backgrounds/fondo.gif') no-repeat center center fixed;
  background-size: cover;
  background-color: transparent !important;
}
